<nav
  class="pagination is-centered is-small"
  role="navigation"
  aria-label="pagination"
>
  <ul class="pagination-list">
    <li *ngFor="let page of pages">
      <a
        class="pagination-link"
        [routerLink]="['/discover', page]"
        [ngClass]="page === currentPage ? 'is-current' : ''"
        aria-label="Goto page"
        >{{ page }}</a
      >
    </li>
  </ul>
</nav>
