<section class="hero is-dark is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The movie DB
      </h1>
      <h2 class="subtitle">
        A database of movies
      </h2>
    </div>
  </div>
</section>
