<p class="subtitle is-6 has-text-weight-bold">Cast</p>
<div class="columns is-multiline">
  <div class="column is-6" *ngFor="let person of cast | slice:0:10">
    <div class="box">
      <figure class="image is-2by3">
        <img
          *ngIf="person.profile_path"
          [src]="person.profile_path"
          alt="Image of {{ person.name }}"
        />
      </figure>
      <div class="content">
        <p>
          <strong>{{ person.name }}</strong>
          <br /><small>{{ person.character }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
