@import 'bulma/sass/utilities/initial-variables.sass';

:host {
  .box {
    height: 100%;

    &_card {
      height: 100%;
    }

    &_poster {
      min-width: 154px;
      max-width: 154px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_summary {
      /* Required declarations: */
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      /* Limit the text block to three lines */
      -webkit-line-clamp: 6;
    }

    &_rate {
      justify-content: center;
      align-items: center;
    }

    &_info {
      border-top: 1px solid $grey;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}
