<div class="box content">
  <div class="columns box_card">
    <div class="column is-4 is-paddingless box_poster">
        <img [src]="movie.poster_path" alt="poster" />
    </div>
    <div class="column">
      <div class="columns is-centered is-flex">
        <div class="column is-one-fifth has-text-centered is-flex box_rate">
          {{ movie.vote_average }}
        </div>
        <div class="column">
          <h1 class="title is-6">{{ movie.title }}</h1>
          <h2 class="subtitle is-size-7">{{ movie.release_date }}</h2>
        </div>
      </div>
      <div class="box_summary is-size-7">
        {{ movie.overview }}
      </div>
      <div class="box_info is-size-7">
        <a [routerLink]="['/movie', movie.id]">More info</a>
      </div>
    </div>
  </div>
</div>
