<div *ngIf="movie$ | async as movie">
  <app-movie-display [movie]="movie"></app-movie-display>

  <app-movie-bar></app-movie-bar>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <app-movie-cast [cast]="movie.credits.cast"></app-movie-cast>
        </div>
        <div class="column is-4 sidebar">
          <app-movie-sidebar [movie]="movie"></app-movie-sidebar>
        </div>
      </div>
    </div>
  </section>
</div>
