<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Discussions</a></li>
    <li><a>Reviews</a></li>
    <li><a>Videos</a></li>
    <li><a>Images</a></li>
    <li><a>Changes</a></li>
    <li><a>Report</a></li>
    <li><a>Share</a></li>
    <li><a>Edit</a></li>
  </ul>
</div>
