:host {
  .movie {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &_overview {
      padding: 1rem 0;
    }
  }

  .hero-body {
    background-repeat: no-repeat;
  }
}
