<section class="hero is-bold">
  <div class="hero-body" style.background="url({{ movie.backdrop_path }})">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <img [src]="movie.poster_path" />
        </div>
        <div class="column movie">
          <div>
            <h1 class="title has-text-white">
              {{ movie?.title }}
            </h1>
            <h2 class="subtitle has-text-white">
              {{ movie?.tagline }}
            </h2>
          </div>
          <div class="movie_overview has-text-white">
            <h2 class="subtitle has-text-white has-text-weight-bold">
              Overview
            </h2>
            {{ movie?.overview }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
