<section class="section container">
  <div class="columns is-multiline" *ngIf="list$ | async as list">
    <div class="column is-half" *ngFor="let movie of list.results">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
  <app-pagination [currentPage]="page"></app-pagination>
</section>
