<aside class="sidebar">
  <p class="subtitle is-6 has-text-weight-bold">Facts</p>
  <ul>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Status</p>
      {{ movie.status }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Release information</p>
      {{ movie.release_date }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Original language</p>
      {{ movie.original_language }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Runtime</p>
      {{ movie.runtime }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Budget</p>
      {{ movie.budget }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Revenue</p>
      {{ movie.revenue }}
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Genres</p>
      <div class="tags">
        <span class="tag" *ngFor="let genre of movie.genres">
          {{ genre.name }}
        </span>
      </div>
    </li>
    <li class="list_item">
      <p class="subtitle is-6 has-text-weight-bold">Keywords</p>
      <div class="tags">
        <span class="tag" *ngFor="let keyword of movie.keywords">
          {{ keyword.name }}
        </span>
      </div>
    </li>
  </ul>
</aside>
