@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.logo {
  background: url('https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg');
  background-repeat: no-repeat;
}
